h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    color: rgb(236, 225, 79);
    font-size: 70px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgba(145, 140, 75, 0.7);
    font-size: 55px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(209, 198, 40);
    font-size: 35px;
    position: relative;
        top: 20px;
        left: 20px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    position: relative;
        left: 20px;
}

.img {
    fill:darkgoldenrod;
    stroke-width: 2;
    stroke: black;
}

/* using css transition property */
.square-1 {
    position: relative;
        left: 150px;
    width: 300px;
    height: 300px;
    background-color: darkgoldenrod;
    border-color: black;
    border-style: solid;
    transition: width 2s, height 2s, transform 4s;
    transition-timing-function: ease-in-out;
}
.square-1:hover {
    width: 400px;
    height: 400px;
    transform: rotate(180deg)
}

/* using keyframe animations */

@keyframes square-2 {
    from {background-color: darkgoldenrod; width: 300px; height: 300px;}
    to {background-color: cadetblue; width: 400px; height: 400px;}
}

.square-2 {   
    position: relative;
        left: 150px;
    width: 300px;
    height: 300px;
    background-color: darkgoldenrod; 
    border-style: solid;
    border-color: black;
    animation-name: square-2; 
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

/* using an external library animations */

.animate__animated {
    position: relative;
     left: 150px;
}

.square-3 {
    width: 300px;
    height: 300px;
    fill: darkgoldenrod; 
    stroke: black;
    stroke-width: 15;
}